@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

}

.navbar{
    display: flex;
    flex-direction: row;
    width: calc(100vw);
    height: calc(10vh);
    background-color: teal;
    color: white;
    /* position: fixed !important; */
}

.menu{
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto ;
    margin-bottom: auto;
}

.info-div{
    width: calc(100vw);
    height: calc(100vh);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    overflow: scroll;
    z-index: 2;


}
#modal{
    margin-left: auto;
    margin-right: auto;
    width: calc(60vw);
    background-color: white;
    margin-top: 40px;
    padding: 10px 0;
    border-radius: 20px;
}

#modal h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: hotpink;
}

.avatar{
    height: 500px;
    width: 500px;
}

.user-email{
    display: flex;
    flex-direction: row;
    line-height: 1px;
}

.user-email div{
    margin-left: auto;
    margin-right: auto;

}

.user-email div p{
    color: rgba(128, 128, 128, 0.747);
    font-weight: bold;
    font-size: 14px;
}

.user-email input{
    padding: 7px 50px;
    border-radius: 5px;
    border: 3px solid dodgerblue;
    outline: none;
}

.address{
    line-height: 1px;
    margin-left: 25px;
    margin-top: 30px;

}


.address input{
    padding: 7px 50px;
    border-radius: 5px;
    border: 3px solid dodgerblue;
    outline: none;
    width: 70%;

}

.address p{
    color: rgba(128, 128, 128, 0.747);
    font-weight: bold;
    font-size: 14px;

}

.pass-dob{
    display: flex;
    flex-direction: row;
    line-height: 1px;
    margin-top: 30px;

}

.pass-dob div{
    margin-left: auto;
    margin-right: auto;
}

.pass-dob input{
    padding: 7px 50px;
    border-radius: 5px;
    border: 3px solid dodgerblue;
    outline: none;

}

.pass-dob p{
    color: rgba(128, 128, 128, 0.747);
    font-weight: bold;
    font-size: 14px;

}

.zip-phone{
    display: flex;
    flex-direction: row;
    line-height: 1px;
    margin-top: 30px;
}

.zip-phone div{
    margin-left: auto;
    margin-right: auto;
}

.zip-phone input{
    padding: 7px 50px;
    border-radius: 5px;
    border: 3px solid dodgerblue;
    outline: none;

}

.zip-phone p{
    color: rgba(128, 128, 128, 0.747);
    font-weight: bold;
    font-size: 14px;

}

input{
    font-weight: 600;
    color:indigo;
}

#close{
    float: right;
    margin-right: 20px;
    background-color: red;
    border-radius: 50%;
    padding:3px 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.n{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: calc(100vw);
}

.drop-down{
    background-color:dodgerblue;
    box-shadow: 5px 10px 8px #888888;
    width: calc(15vw);
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-right: 10px;
    z-index: 2;
    
    
}

.drop-down p{
    cursor: pointer;
}


/* End of nav */



  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #232427;
  } */
  
   body .container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
     box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body .container .card {
    position: relative;
    min-width: 300px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  body .container .card:nth-child(1) .box .content a {
    background: #2196f3;
  }
  
  body .container .card:nth-child(2) .box .content a {
    background: #e91e63;
  }
  
  body .container .card:nth-child(3) .box .content a {
    background: #23c186;
  }
  
  body .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  body .container .card .box:hover {
    transform: translateY(-50px);
  }
  
  body .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  body .container .card .box .content {
    padding: 20px;
    text-align: center;
  }
  
  body .container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
  }
  
  body .container .card .box .content h3 {
    font-size: 1.8rem;
    color:#2196f3;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  body .container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
  }
  
  body .container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  body .container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }
/*   
  .row1 , .row2{
    display: flex;
    flex-direction: row;
  } */

  .main-body{
    overflow-y: scroll;
    height: calc(100vh);
  }







@media screen and (max-width:960px) {
    #modal{
        width: calc(80vw);
    }

    .address{
        margin-left: 50px;
       
    }
    
}

@media screen and (max-width:730px) {
    .user-email{
        flex-direction: column;
        margin-top: 0px;
       
    }

    .user-email div{
        margin-left: 10px;
        margin-right: 0px; 

    }
    .user-email input{
        width: 50%;


    }

    .address{
        margin-left: 10px;
        margin-top: 0px;
        width: 70%;
    }

    .pass-dob{
        flex-direction: column;
        margin-top: 0px;

    }
    .pass-dob div{
        margin-left: 10px;
        margin-right: 0px; 

    }

    .pass-dob input{
        width: 50%;

    }

    .zip-phone{
        flex-direction: column;
        margin-top: 0px;

    }

    .zip-phone div{
        margin-left: 10px;
        margin-right: 0px; 


    }

    .zip-phone input{
        width: 50%;


    }

   

    
}

@media screen and (max-width:540px) {
    #modal h1{
        font-size: 20px;
    }

    input{
        width: calc(40vw) !important;
    }

    .drop-down{
        width: calc(25vw);
    }
    
}

@media screen and (max-width:400px) {
    #modal h1{
        font-size: 15px;
    }

    input{
        width: calc(30vw) !important;
    }

    .drop-down{
        width: calc(30vw);
    }
    
    
}

